* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: hsl(220.85deg 42.45% 72.89%);
  /* background-color: hsl(46, 35%, 49%); */
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

h3 {
  margin: 8px 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem 2.5rem;
  background-color: whitesmoke;
  border-radius: 6px;
  box-shadow: 2px 5px 7px -5px;
}

.person-image {
  --size: 152px;
  height: var(--size);
  width: var(--size);
  object-fit: cover;
  border-radius: 9999px;
  border: 1px solid #457cf3;
}

.details {
  display: grid;
  row-gap: 12px;
}

.name-n-position {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 8px 0;
}

.position {
  color: darkblue;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
}
.skills-list span {
  background-color: hsl(224, 100%, 83%);
  /* background-color: hsl(46.38deg 100% 68.7%); */
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: 500;
}

.projects-grid {
  gap: 4px;
  display: flex;
  /* grid-template-columns: repeat(2, minmax(1px, 1fr)); */
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: hsl(46.38deg 100% 68.7%);
  /* background-color: #fff; */
  padding: 6px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 1px 2px 4px -3px;
  /* width: 191px; */
  width: 48%;
}

.project.col-full {
  margin-left: rem;
}

.project-name {
  font-weight: 600;
}

.project-link {
  font-weight: 600;
  position: absolute;
  inset: 0;
}

.socials-list {
  display: flex;
  justify-content: space-between;
}
.socials-list-item {
  background-color: hsl(0, 0%, 84%);
  border-radius: 6px;
  padding: 6px 8px;
  /* color: white; */
}
