* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.about .heading,
.footer .heading {
  font-size: xx-large;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about {
  padding: 3rem 5rem;
  padding-bottom: 3.5rem;
  background-color: hsl(213, 100%, 94%);
}

.about-content {
  display: grid;
  row-gap: 0.7rem;
}

.footer {
  padding: 1.5rem 5rem;
  background-color: hsl(38, 33%, 9%);
}
.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}
.footer-item {
  flex-shrink: 0;
  font-size: small;
  color: white !important;

  display: flex;
  align-items: center;
}
