* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: whitesmoke;
}

.contact-us,
.contact-left,
.contact-right {
  display: flex;
  align-items: center;
  color: white;
}

.contact-us {
  background-color: hsl(227, 62%, 28%);
  justify-content: space-between;
  padding: 0.37rem 3rem;
}

.contact-right {
  font-size: small;
  font-weight: 500;

  color: hsl(43, 77%, 70%);
}

.contact-us .count-down {
  font-size: 1rem;
  color: white;
}

.contact-us .link {
  font-weight: initial;
  text-decoration: underline;
}

.flag {
  width: 16px;
  margin-left: 6px;
  margin-bottom: -4px;
}

.navbar {
  background: #fff;
}

.navbar .nav-top,
.navbar .nav-left,
.navbar .nav-right,
.nav-search,
.nav-links,
.nav-bellow,
.nav-filters {
  display: flex;
  align-items: center;
}

.navbar .nav-top,
.nav-bellow {
  justify-content: space-between;
}

.nav-top {
  padding: 1rem 3rem;
}

.nav-bellow {
  background: white;
  padding: 0.7rem 3rem;
}

.navbar .nav-left,
.navbar .nav-right {
  gap: 1.7rem;
}

.nav-logo {
  width: 200px;
}

.icon-sm {
  --size: 28px;
  height: var(--size);
  width: var(--size);
}

.icon-xs {
  --size: 9px;
  height: var(--size);
  width: var(--size);
}

.nav-icon {
  --size: 24px;
  height: var(--size);
  width: var(--size);
}

button {
  font-size: medium;
  background-color: initial;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

button.outline {
  --color: hsl(230, 32%, 31%);
  color: var(--color);
  border: 1px solid var(--color);
}
button.primary {
  --color: rgb(0, 119, 255);
  font-weight: 500;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
button.ghost {
  border: none;
  font-size: small;
  color: hsl(212, 100%, 36%);
  font-weight: 500;
  cursor: pointer;
}

a {
  color: initial;
  text-decoration: none;
}

input {
  background: initial;
  padding: 0.25rem 0.5rem;
  font-size: medium;
  border: none;
  outline: none;
}

.nav-search {
  padding: 0.25rem 0.9rem;
  border-radius: 9999px;
  background: #ececec;
}

.nav-search input::placeholder {
  color: #26498b;
}

.nav-links {
  column-gap: 0.8rem;
}

.nav-filters {
  column-gap: 1.5rem;
}

.small {
  font-weight: 400;
  font-size: smaller;
  line-height: 0.4rem;
}

.bold {
  font-weight: 500;
  line-height: 0.8rem;
}

.nav-link {
  color: #1f407c;
  padding: 0.5rem 0.6rem;
}

.nav-link:hover {
  background: #e8f0ff;
}

.nav-menu {
  margin-top: -10px;
}

.nav-menu p {
  display: flex;
  align-items: start;
  column-gap: 6px;
}

.nav-filter {
  color: grey;
  padding: 6px 10px;
  line-height: 0.8rem;
  transition: color 1s ease-in-out;
}

.nav-filter:hover {
  background: hsl(0, 0%, 95%);
  border-radius: 9999px;
}

.hero-banner {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.hero-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3.5rem;
  margin: 0 3rem;
}

.hero-card {
  transform: translateY(-50%);
  padding: 1.6rem 2rem;
  /* box-shadow: 0px 5px 18px -10px; */
  box-shadow: 0px 5px 24px -15px;
  text-transform: uppercase;
  background: white;

  display: flex;
  align-items: center;
  column-gap: 1.8rem;
  border-radius: 4px;
}
.hero-card button {
  text-transform: uppercase;
}

.hero-card-details {
  font-size: medium;
}
.hero-card-details .bold {
  margin-top: 0.35rem;
}

.p-0 {
  padding: 0;
}
