* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background: #222222;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: x-large;
  margin-bottom: 1.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & label {
    margin-bottom: 0.2rem;
  }

  & input {
    font-size: medium;
    outline: none;
    border: 1px solid gray;
    background: #141414;
    padding: 0.3rem 1rem;
  }
}

ul {
  margin: 0.5rem;
  margin-bottom: 1rem;
}
li {
  margin-left: 1.2rem;
}

.strong {
  color: green;
}
.medium {
  color: yellow;
}
.weak {
  color: red;
}
